body{
  background-color: #cff1ef;
  text-align: center;

  margin-top: 10%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat",sans-serif;
}

h1{
margin-left: 6%;
}
img{
  width: 50%;
}

.huge{
  font-size: 4rem;
  font-weight: bold;
  color: #00bdaa;
  font-family: 'Lobster', cursive;
  text-align: left;
  /* width: 30% */
  /* padding-top:10%; */

}
